// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Primary
$TITLE: #858585;
$BLUE: #399fff;
$INPUT: #f4f1ff;
$DARK_BACKGROUND: #1c1c1d;
$DARK_SECONDARY: #2c2d2e;
