@use 'src/styles/constants/colors';
@use 'src/styles/mixins/mixins';
@use 'src/styles/mixins/animation';

.navHeader {
  margin-bottom: 20px;
  .titleWrapper {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
    img {
      border-radius: 8px;
      width: 60px;
      height: 60px;
    }
    .title {
      color: colors.$TITLE;
      margin-left: 15px;
      font-weight: 500;
      display: block;
      opacity: 1;
      transition: 0.3s;

      h2 {
        font-size: 20px;
        letter-spacing: 0.5px;
        margin: 0;
      }
      p {
        font-size: 16px;
        margin-top: 7px;
      }
      h2,
      p {
        display: none;
        opacity: 0;
      }
    }
  }

  .inputWrapper {
    display: flex;
    .iconBox {
      @include mixins.iconBox;
      @include animation.boxTheme($light-mode: true);
      position: relative;
      text-align: center;
      span {
        display: inline-block;
        margin-top: 12px;
      }
      .searchInput {
        @include animation.boxTheme($light-mode: true);
        width: 0;
        height: 65px;
        position: absolute;
        left: 55px;
        border: none;
        transition: width 300ms;
      }
    }
    .iconBoxDark {
      @include animation.boxTheme($light-mode: false);
    }
  }
}

// Open navigation

.openNavHeader {
  .titleWrapper {
    .openTitle {
      h2,
      p {
        @include animation.fadeInText(2);
        display: block;
        white-space: nowrap;
      }
    }
  }
  .inputWrapper {
    .iconBox {
      @include animation.boxTheme($light-mode: true);
      .openSearchInput {
        width: 240px;
        height: 65px;
        transition: width 300ms;
      }
      .inputDark {
        @include animation.boxTheme($light-mode: false);
        color: white;
      }
    }
    .iconBoxDark {
      @include animation.boxTheme($light-mode: false);
    }
  }
}
