@use 'src/styles/constants/colors';
@use 'src/styles/mixins/mixins';
@use 'src/styles/mixins/animation';

$pad: 10px;

.navContainer {
  position: absolute;
  top: 50px;
  left: 50px;
  bottom: 50px;

  width: 100px;
  min-height: 800px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 5px colors.$GRAYD;
  font-size: 18px;
  transition: width 300ms;
  @include animation.backgroundTheme($light-mode: true);

  .arrowBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 88px;
    top: 50px;
    background-color: colors.$BLUE;
    border-radius: 50%;
    transition: 300ms;

    .navButtonIcon {
      transition: all ease 300ms;
    }
  }

  .navWrapper {
    padding: 18px;
  }
}
// Open navigation

.openNavContainer {
  width: 350px;
  .openArrowBtn {
    left: 335px;
    transition: 300ms;
  }
}

.openArrowBtn {
  .rotate {
    transform: rotate(180deg);
    svg {
      position: relative;
      top: 4px;
    }
  }
}

// dark mode

.navDark {
  @include animation.backgroundTheme($light-mode: false);
}
