@use 'src/styles/constants/colors';
@use 'src/styles/mixins/responsive';
@use 'src/styles/mixins/animation';

.navFooterContainer {
  border-top: 1px solid colors.$GRAYD;
  padding: 18px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;

  .DarkModeWrapper {
    // background-color: colors.$INPUT;
    @include animation.boxTheme($light-mode: true);
    height: 65px;
    border-radius: 8px;
    .iconWrapper {
      display: none;
    }
    .textWrapper {
      display: none;
    }
    .toggleWrapper {
      position: absolute;
      right: 40px;
      margin-top: 20px;
      transition: 400ms;
    }
    .toggleWrapper {
      position: absolute;
      right: 30px;
      margin-top: 20px;
      transition: 400ms;
    }
  }
  .openDarkModeWrapper {
    border-radius: 15px;
    display: flex;
    height: 65px;
    transition: width 300ms;
    margin-bottom: 10px;
    // background-color: colors.$INPUT;
    @include animation.boxTheme($light-mode: true);
    .iconWrapper {
      display: block;
      padding: 10px 10px 0 8px;
    }
    .textWrapper {
      display: inline;
      line-height: 65px;
      color: colors.$GRAY6;
    }
    .toggleWrapper {
      right: 40px;
    }
  }
  .darkMode {
    @include animation.boxTheme($light-mode: false);
  }
}
