@use 'src/styles/mixins/animation';
@use 'src/styles/constants/colors';

.layoutContainer {
  @include animation.backgroundTheme($light-mode: true);
  font-size: 80px;
}

.layoutDark {
  @include animation.backgroundTheme($light-mode: false);
  color: white;
}

main {
  height: 100vh;
  min-height: 1000px;
  max-width: 1200px;
  padding: 60px 0 0 300px;
}
